body {
  font-family: Arial;
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

input, button, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

table {
  width: 100%;
  margin-top: 10px;
}

img {
  max-width: 150px;
}
