body { font-family: sans-serif; background:#111; color:white; text-align:center; }
.hidden { display:none; }

.card { background:#222; padding:20px; margin:20px; border-radius:12px; }

input, button {
  padding:10px; margin:5px;
  border-radius:8px; border:none;
}

button { background:#ff4757; color:white; }

.flip-card { width:200px; height:260px; margin:auto; perspective:1000px; }
.flip-inner {
  width:100%; height:100%;
  transform-style:preserve-3d;
  transition:transform 0.6s;
}
.flip-card:hover .flip-inner { transform:rotateY(180deg); }

.flip-front, .flip-back {
  position:absolute; width:100%; height:100%;
  backface-visibility:hidden;
  display:flex; align-items:center; justify-content:center;
  border-radius:12px;
}
.flip-front { background:#444; }
.flip-back { background:#000; transform:rotateY(180deg); }

img { width:120px; }
